script(src='/javascripts/flatpickr.js')
script.
    //const Flatpickr = require("flatpickr");
    // new Flatpickr(element, optional_config);
    var customConfig = {
        dateFormat: 'm-d-Y'
    };
    flatpickr(".datePicker", customConfig);
    //flatpickr.init.prototype.defaultConfig.prevArrow = '<i class="fa fa-arrow-left" aria-hidden="true"></i>';
    //flatpickr.init.prototype.defaultConfig.nextArrow = '<i class="fa fa-arrow-right" aria-hidden="true"></i>';

    //document.getElementById("addDevice_SubmitButton").addEventListener("click", form_submit);

    //function form_submit() {
       // document.getElementById("addDevice_form").submit();
        //console.log("Submitting form...button clicked")
    //} 
    console.log("Loaded script...");
    
