header#it-checkout-header.container-fluid
  center
    #checkout-header.It-CheckOut
      #checkout-header-text.row
        .col-md-6
          img#checkout-header-logo.CV-logo(src='/images/CV-600x600.png')
        // /.col-md-6
        .col-md-6
          h2#checkout-header-title IT Inventory Control
          h1#checkout-header-title
            | Welcome 
            span#it-username !{name} !{data[0].model}   